@charset "UTF-8";

html {
    height: auto;
    min-height: 100%;
    background-color: #0067C6;
    background: linear-gradient(to top, #FFE32D 0%, #50AAFE 50%, #0067C6 100%);
}

body {
    color: #fff;

}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:active {
    color: #fff;
}

/* header */

header {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

header img {
    height: 60px;
}

header p {
    font-size: 2em;
    font-weight: bold;
}

/* container */

#container {
    width: 330px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}

.form-title {
    font-size: 1.2em;
    padding: 50px 0 30px;
}

.form-box {
    width: 250px;
    margin: 0 auto;
    text-align: left;
    line-height: 1.5em;
}

.input {
    padding: 12px 10px;
    width: 230px;
    border: 1px solid #808080;
    border-radius: 10px;
    margin-bottom: 20px;
}

#clear {
    padding-top: 10px;
    padding-bottom: 40px;
}

#clear span {
    font-size: 1.2em;
}

#clear div {
    padding: 30px;
}

.bold {
    font-weight: bold;
}


/* button */

.btn {
    display: block;
    width: 50%;
    padding: 10px;
    color: #fff;
    font-size: 1.2em;
    background-color: #ED3A50;
    border: none;
    border-radius: 10px;
}

.login-btn,
.register-btn {
    margin: 0 0 0 auto;
}

.to-login-btn {
    width: 125px;
    padding: 12px;
    font-size: 1em;
    margin: 0 auto;
}

.register-link,
.login-link {
    display: inline-block;
    padding: 50px 0 30px;
}

.register-link a,
.login-link a {
    text-decoration: 1px underline;
}
